body{
    margin: 0px;
    width: 100vw;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden !important;
    background-color: rgb(20, 21, 26);
}
html body {
    font-family: Arial,sans-serif!important;
}
/* Header */
.header{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #181A20;
    background-position: center;
}
.header-title{
    font-size:28px;
}
.nav-menu{
    display: flex;
    flex-direction: row;
}
.menu-title{
    padding-right: 100px;
}
.menu-title:last-child{
    padding-right: 0px;
}
.menu-link{
    padding: 10px;
    text-decoration: none;
    color:rgb(240, 185, 11);
    font-weight: lighter;
}
.menu-title-link{
    text-decoration: none;
    color: rgb(234, 236, 239);
    font-weight: 500;
}
.menu-title-link:hover{
    color: rgb(240, 185, 11);
}

.login{
    display: flex;
}
.loginf{
    margin-right: 45px;
    text-decoration: none;
    color: rgb(234, 236, 239);
}
.loginf:hover{
    align-items: center;
    color: rgb(240, 185, 11);
}
.regf{
    align-items: center;
    text-align: center;
    text-decoration: none;
    outline: none;
    font-size: 14px;
    line-height: 20px;
    word-break: keep-all;
    color: rgb(33, 40, 51);
    border-radius: 4px;
    padding: 6px 12px;
    min-height: 24px;
    border: none;
    background-image: linear-gradient(rgb(248, 209, 47) 0%, rgb(240, 185, 11) 100%);
    min-width: 52px;
    font-weight: 400;
}
/* MainPart */
.share-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.share-pic{
    width: 80em;
    height: 40em;
}
.share-title{
    margin-top: 50px;
    font-size: 28px; 
    font-weight: 500;
    color: #ffff;
    text-align: center;
}
.share-input-sections{
    margin-top: 40px;
}
.share-input-sect{
    margin: 0px;
    padding: 10px;
    min-width: 400px;
    display: flex;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    line-height: 1.6;
    border: 1px solid rgba(43, 47, 54, 0.8);
    border-radius: 4px;
    width: 100%;
    height: 100%;
    font-size: 15px;
}
.share-input-title{
        min-width: 48px;
        font-size: 17px;
        color: rgb(183, 189, 198);
}
.share-input-inp{
    outline: none;
    font-size: 17px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: right;
}
.share-input-dates{
    display: flex;
}
.share-submit{
    background-color: #4CAF50;
    border: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 15px;
    padding: 16px 80px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 27px;
}
.share-submit-button{
    margin-top: 20px;
}
.share-submit:hover{
    background-color: #5ace5e;
}
/* Top-list */
.table{
    display: flex;
    flex-direction: column;
}
.table-namtag{
    text-align: center;
    color: #fff;
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 2em;
    background-color: #181A20;
    padding-top: 20px;
    padding-bottom: 20px;
}
.table-menu{
    display: flex;
    flex-direction: column;
    background-color: #181A20;
}
.table-menu-str{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    color: #fff;
    font-size: 1.5em;
    justify-content: space-around;
}
.table-menu-str-namtag{
    text-transform: capitalize;
    /*text-decoration: underline;
    color: rgb(240, 185, 11);*/
}
.table-menu-str-shorttag{
    text-transform: uppercase;
}
.table-menu-str-link{
    text-decoration: none;
}
.table-menu-str-link:hover{
    background-color: rgba(240, 187, 11, 0.863);
    transition: 0.5s;
}

/*Answer*/
.answer{
    display: flex;
    flex-direction: column;
}
.answer-namtag{
    text-align: center;
    color: #fff;
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 4em;
    background-color: #181A20;
    padding-top: 20px;
    padding-bottom: 20px;
}
.answer-window{
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: center;
}
.answer-window-text{
    font-size: 1.2em;
    color: rgba(240, 187, 11, 0.863);
    margin-bottom: 40px;
}
.answer-window-price{
    color: rgb(205, 255, 228);
    font-size: 2em;
}